@model AssurantAIZ.Models.UsuarioCondusefModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>

        .LabelInput {
            font-weight: 600;
            color: #000000;
        }

        .MessageError {
            color: red;
        }
    </style>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link rel="stylesheet" href="~/Scripts/libs/jquery-ui-1.14.1/jquery-ui.theme.css" />
    <link rel="stylesheet" href="~/Scripts/libs/jquery-ui-1.14.1/jquery-ui.css" />
    <link rel="stylesheet" href="~/Scripts/libs/jquery-ui-1.14.1/jquery-ui.structure.css" />
    <script type="text/javascript" src="~/Scripts/libs/jquery-ui-1.14.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/Scripts/datatables.css" />
    <script type="text/javascript" src="~/Scripts/datatables.js"></script>
</head>
<body>
    @*<div class="container">
        <form method="post">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    @Html.LabelFor(x => x.Key, new { @class = "LabelInput" })
                    @Html.TextBoxFor(x => x.Key, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Key, null, new { @class = "MessageError" })
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    @Html.LabelFor(x => x.UserName, new { @class = "LabelInput" })
                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.UserName, null, new { @class = "MessageError" })
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    @Html.LabelFor(x => x.Password, new { @class = "LabelInput" })
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Password, null, new { @class = "MessageError" })
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-3 offset-md-9 col-lg-2 offset-lg-10">
                    <button type="submit" class="btn btn-primary w-100">Crear Usuario</button>
                </div>
            </div>
        </form>
    </div>*@
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                <input type="text" class="form-control datepicker-Form" id="inpDateStart"/>
            </div>
            <div class="col-12 col-md-3">
                <input type="text" class="form-control datepicker-Form" id="inpDateEnd"/>
            </div>
            <div class="col-12 col-md-3">
                <input type="text" class="form-control" id="inpUser"/>
            </div>
            <div class="col-12 col-md-3">
                <button type="button" class="btn btn-primary" id="btnSearch">Buscar</button>
            </div>
        </div>
    </div>
    <div class="container">
        <table id="userTable" class="table-responsive table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Casado</th>
                </tr>
            </thead>
        </table>
    </div>
    
    <script type="text/javascript">

        document.addEventListener("DOMContentLoaded", function () {

            $(".form-control.datepicker-Form").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd/mm/yy"
            })

            let userTable = new DataTable(document.getElementById("userTable"), {
                searching: false,
                processing: true,
                serverSide: true,
                ajax: {
                    url: "@Url.Action("Personas")",
                    method: "GET",
                    dataSrc: "data"
                },

                columns: [
                    {
                        data: 'Name'
                    },
                    {
                        data: 'Age'
                    },
                    {
                        data: 'IsMarried',
                        render: function (data, type) {
                            if (typeof data === 'boolean') {
                                if (data) {
                                    return '<input type="checkbox" checked /> '
                                }
                                return '<input type="checkbox" /> '
                            }
                        }
                    }
                ],
                language:{
                    "decimal": "",
                    "emptyTable": "Informacion no disponible en la tabla",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                    "infoEmpty": "Mostrando 0 a 0 de 0 registros",
                    "infoFiltered": "(Filtrado de _MAX_ total registros)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "loadingRecords": "Cargar...",
                    "processing": "",
                    "search": "Buscar:",
                    "zeroRecords": "No se encontraron registros",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "orderable": "Ordenar por esta columna",
                        "orderableReverse": "Ordenar en reversa esta columna"
                    }
                }
            })

            document.getElementById("btnSearch").addEventListener("click", function (evt) {
                if (typeof userTable === 'object') {
                    userTable.ajax.reload();
                }
            })
        })
    </script>
</body>
</html>
